**/.gitignore
# ignore all logs
*.log
!change.log
# folders
test/
dist/

.vscode/
.idea/
*.code-workspace

# config file
config/config
# version file
.bumpversion.cfg
wip_change.log

setup_guide.txt

# python build files
__pycache__/
*.pyc

