asn1crypto==0.24.0
bumpversion==0.5.3
certifi==2019.3.9
cffi==1.12.2
configparser==3.7.4
cryptography==2.6.1
entrypoints==0.3
flake8==3.7.7
idna==2.8
mccabe==0.6.1
oci>=2.2.9
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyOpenSSL==19.0.0
python-dateutil==2.7.3
pytz==2018.9
rope==0.14.0
six==1.12.0
